1. What are data structures, and why are they important?
    - Data structures help store and organize data so it can be accessed and worked with efficiently. They’re essential for solving problems quickly and managing data effectively.
2. Difference between mutable and immutable data types:
  - Mutable: Can be changed (e.g., list, dict, set)
  - Immutable: Can’t be changed (e.g., str, int, tuple)
3. Main differences between lists and tuples:
  - Lists are mutable
  - Tuples are immutable
  - Use tuples when data shouldn’t change.
4. How dictionaries store data:
  - Dictionaries store data in key-value pairs using a hash table, which allows fast access to values by key.
5. Why use a set instead of a list?
  - Use a set when you need only unique values and want faster lookup. Sets automatically remove duplicates.
6. What is a string, and how is it different from a list?
  - A string is a sequence of characters and is immutable. A list can store any data type and is mutable.
7. How do tuples ensure data integrity?
  - Since tuples can't be changed, they keep data safe from accidental updates, making them ideal for fixed data
8. What is a hash table and how is it related to dictionaries?
  - A hash table stores data using a hashed key. Python dictionaries use this to give fast key-based access to values.
9. Can lists contain different data types?
  - Yes! Python lists can store mixed data like ["hello", 10, True].
10. Why are strings immutable?
  - Strings can’t be changed to make them more secure, memory-efficient, and safe to use as dictionary keys.
11. Advantages of dictionaries over lists:
  - Dictionaries are better for quick lookup by key, while lists are better for ordered data accessed by index.

12. When to use a tuple over a list:
  - Use a tuple when the data shouldn't change, like dates, coordinates, or configs.

13. How do sets handle duplicate values?
  - Sets automatically remove duplicates. If you add a duplicate, it’ll only keep one copy.

14. How does the “in” keyword work differently for lists and dictionaries?
  - In a list, it checks values.
    In a dictionary, it checks keys.
15. Can you modify elements of a tuple?
  - No. Tuples are immutable, so once created, you can’t change any of their values.

16. What is a nested dictionary and its use case?
  - A nested dictionary is a dict inside another dict.
17. Time complexity of accessing elements in a dictionary:
  - O(1) on average, thanks to hashing — very fast!

18. When are lists preferred over dictionaries?
  - When you need ordered data, access by position, or store duplicate values, lists are better.

19. Why are dictionaries considered unordered?
  - Earlier Python versions didn't preserve order. Now they do (from Python 3.7+), but dictionaries still rely on key-based access, not position.

20. Difference between a list and a dictionary in data retrieval:
  - List: Access data by index.
  - Dict: Access data by key — much faster for lookup.

In [ ]:
#Create a string with your name and print it
name = "Om Santoki"
print(name)

Om Santoki

In [ ]:
#Find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [ ]:
#Slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [ ]:
#Convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [ ]:
#Replace "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [ ]:
#Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#Append the number 10 to the list [1, 2, 3, 4]
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [9]:
#Remove the number 3 from the list [1, 2, 3, 4, 5]
nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [10]:
#Access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [11]:
#Reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [12]:
#Create a tuple with 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [13]:
#Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
#Find the minimum number in the tuple (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [15]:
#Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
#Create a fruit tuple and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [17]:
#Create a set with 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [18]:
#Clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [19]:
#Remove element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [20]:
#Find the union of {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [21]:
# Find the intersection of {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [22]:
#Create a dictionary with "name", "age", "city" and print it
person = {"name": "Om", "age": 21, "city": "Ahmedabad"}
print(person)

{'name': 'Om', 'age': 21, 'city': 'Ahmedabad'}

In [23]:
#Add "country": "USA" to {'name': 'John', 'age': 25}
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#Access the value of "name" in {'name': 'Alice', 'age': 30}
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [25]:
#Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#Check if "city" exists in {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [27]:
#Create a list, tuple, and dictionary, and print them
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [28]:
#Create a list of 5 random numbers (1–100), sort, and print
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[2, 8, 25, 26, 44]

In [29]:
#Create a list with strings and print the element at index 3
words = ["apple", "banana", "cherry", "date", "kiwi"]
print(words[3])

date

In [30]:
#Combine two dictionaries and print the result
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# Convert a list of strings into a set
words = ["apple", "banana", "apple", "mango"]
unique_words = set(words)
print(unique_words)

{'apple', 'banana', 'mango'}