1. Difference between a function and a method in Python
  - Function: A block of code that performs a task and can be used independently.
  - Method: A function that is associated with an object (usually called on objects like lists, strings, etc.).

In [ ]:
def greet():  # Function
    print("Hello")

"hello".upper()  # Method

'HELLO'

2. Function arguments and parameters
  - Parameter: Variable listed in a function definition.
  - Argument: Actual value passed when calling the function.

In [ ]:
def greet(name):  # name is a parameter
    print("Hello", name)

greet("Om")  # "Om" is an argument

Hello Om

3. Ways to define and call a function
  - Define using def or lambda.
  - Call using function name with parentheses and arguments.

In [ ]:
def add(a, b):  # defining
    return a + b

print(add(2, 3))  # calling

# Lambda
multiply = lambda x, y: x * y
print(multiply(4, 5))

5
20

4. Purpose of the return statement
  - Sends back a result from a function to where it was called. Ends the function execution.

In [ ]:
def square(x):
    return x * x

result = square(4)
print(result)  # 16

16

5. Iterators vs Iterables
  - Iterable: Something you can loop over (like list, tuple).
  - Iterator: An object that keeps state and produces the next value when called with next().

In [ ]:
nums = [1, 2, 3]  # iterable
it = iter(nums)   # iterator
print(next(it))   # 1

1

6. Generators in Python
  - Functions that yield values one by one using yield instead of returning all at once.

In [ ]:
def countdown(n):
    while n > 0:
        yield n
        n -= 1

for num in countdown(3):
    print(num)

3
2
1

7. Advantages of generators
  - Memory efficient: Donâ€™t store entire data in memory.
  - Faster for large data: Yield one item at a time.
  - Example: A generator to read large files line by line without loading the whole file.

8. Lambda function
  - A small anonymous function defined using lambda keyword.
  - Used when a short function is needed temporarily.

In [ ]:
add = lambda x, y: x + y
print(add(3, 5))

8

9. Purpose and usage of map()
  - Applies a function to all items in an iterable.

In [ ]:
nums = [1, 2, 3]
squares = list(map(lambda x: x**2, nums))
print(squares)  # [1, 4, 9]

[1, 4, 9]

10. Difference: map(), reduce(), filter()
  - map(): Transforms items.
  - filter(): Keeps items that pass a test.
  - reduce(): Combines items into a single value (from functools).

In [ ]:
from functools import reduce

nums = [1, 2, 3, 4]

# map
print(list(map(lambda x: x*2, nums)))  # [2, 4, 6, 8]

# filter
print(list(filter(lambda x: x % 2 == 0, nums)))  # [2, 4]

# reduce
print(reduce(lambda x, y: x + y, nums))  # 10

[2, 4, 6, 8]
[2, 4]
10

11. Using pen & Paper write the internal mechanism for sum operation using reduce function on this given list:[47,11,42,13];
(Attach paper image for this answer) in doc or colab notebook.

give me its image solution
https://drive.google.com/file/d/1HPK4AbIv7Aq8yPzDomlHtU1D4IBP7_Ts/view?usp=share_link

In [ ]:
#que1
def sum_even(numbers):
    return sum(num for num in numbers if num % 2 == 0)

print(sum_even([1, 2, 3, 4, 5, 6]))

12

In [ ]:
#que2
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))

olleh

In [ ]:
#que3
def square_list(lst):
    return [x ** 2 for x in lst]

print(square_list([1, 2, 3]))

[1, 4, 9]

In [ ]:
#que4
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [i for i in range(1, 201) if is_prime(i)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [ ]:
#que 5
class Fibonacci:
    def __init__(self, max_terms):
        self.max_terms = max_terms
        self.count = 0
        self.a, self.b = 0, 1

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.max_terms:
            raise StopIteration
        value = self.a
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return value

for num in Fibonacci(7):
    print(num, end=" ")

0 1 1 2 3 5 8

In [ ]:
#que 6
def powers_of_two(max_exp):
    for i in range(max_exp + 1):
        yield 2 ** i

for val in powers_of_two(4):
    print(val)

1
2
4
8
16

In [ ]:
#que 7
def read_file_lines(filepath):
    with open(filepath, 'r') as f:
        for line in f:
            yield line.strip()

In [ ]:
#que 8
data = [(1, 3), (4, 1), (5, 2)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(4, 1), (5, 2), (1, 3)]

In [ ]:
#que9
celsius = [0, 20, 30, 40]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 68.0, 86.0, 104.0]

In [ ]:
#que 10
def remove_vowels(s):
    return ''.join(filter(lambda ch: ch.lower() not in 'aeiou', s))

print(remove_vowels("Hello World"))

Hll Wrld

In [ ]:
#que11
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "EinfÃ¼hrung in Python3, Bernd Klein", 3, 24.99]
]

result = list(map(lambda order: (order[0], order[2] * order[3] + 10 if order[2] * order[3] < 100 else order[2] * order[3]), orders))

print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]